.login-section{
    box-shadow: 0 0 5px black;
    width: 300px;
    text-align: center;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
}
input[type='text'] , input[type='email'] , input[type='password']{
    font-size: 18px;
    margin: 5px;
    height: 35px;
    border: 1px solid lightblue;
    outline: none;
    border-radius: 5px;
}
input[type=submit]{
    font-size: 18px;
    padding: 12px;
    width: 210px;
    margin: 5px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    outline: none;
}
input[type='submit']:hover{
    background-color: darkgray;
    color: white;
}
#error-msg h3{
    background-color: lightblue;
    width: 300px;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    color: white;
}