<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Express JS</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/contact">Contact Us</a>
    <a href="/services">Services</a>
    <a href="/profile">Profile</a>
</nav>

    <h1>Get in Touch</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dignissimos id magnam quibusdam quod. Accusamus aperiam, aspernatur beatae doloremque, eius eos est harum ipsam maiores optio quam quasi quibusdam quo voluptas voluptate! A cupiditate eaque error hic ullam unde vitae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dignissimos id magnam quibusdam quod. Accusamus aperiam, aspernatur beatae doloremque, eius eos est harum ipsam maiores optio quam quasi quibusdam quo voluptas voluptate! A cupiditate eaque error hic ullam unde vitae.</p>

</body>
</html>